<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  </head>
  
  <body>
  <div class="center">
    
    <span class="large-text">py</span>
    <span class="small-text">thon</span> 
    <span class="large-text">s</span>
    <span class="small-text">imulation</span>
    <span class="large-text">i</span>
    <span class="small-text">nterface</span>
    <span class="small-text">for</span>
    <span class="large-text">m</span>
    <span class="small-text">olecular</span>
    <span class="large-text">m</span>
    <span class="small-text">odeling</span>
  
  <p class="smaller-text">....coming soon....</p>
  
  </div>
  </body>
</html>
